body {
  font-family: 'Courier New', Courier, monospace;
  background: #202020;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation: fade-in 1s forwards;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.controls-header {
  background: #303030;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
}

.controls {
  background: radial-gradient(#303030, #000);
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log {
  background: #303030;
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.arrow {
  display: none;
  font-size: 50px;
  font-weight: bold;
  transition: transform 0.5s;
}

.arrow.visible {
  display: inherit;
}

.arrow.forward {
  transform: rotate(-90deg);
}

.arrow.back {
  transform: rotate(90deg);
}

.arrow.left {
  transform: rotate(180deg);
}

.arrow.right {
  transform: rotate(0deg);
}

.arrow.forward.left {
  transform: rotate(-135deg);
}

.arrow.forward.right {
  transform: rotate(-45deg);
}

.arrow.back.left {
  transform: rotate(135deg);
}

.arrow.back.right {
  transform: rotate(45deg);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
