body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #202020;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  padding: 0;
  margin: 0;
}

body > * {
  animation: fade-in-slide-up 3s forwards;
  display: flex;
  flex: 1;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loading-placeholder {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10vh;
  text-align: center;
}

.controls {
  border: 3px solid #eee;
  border-radius: 50%;
  width: 90%;
  margin: 10%;
}

@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
